<script>
  //Facebook
  (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id))
        return;
      js = d.createElement(s);
      js.id = id;
      js.src = "//connect.facebook.net/pt_BR/all.js#xfbml=1";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
  
  //Twitter
    !function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https';
      if (!d.getElementById(id)) {
        js = d.createElement(s);
        js.id = id;
        js.src = p + '://platform.twitter.com/widgets.js';
        fjs.parentNode.insertBefore(js, fjs);
      }
    }(document, 'script', 'twitter-wjs');

</script>   
<div class="fb-like" data-href="http://primerails.heroku.com"  data-layout="button_count" data-show-faces="true" data-send="false"></div>
<a href="https://twitter.com/share" class="twitter-share-button" data-url="http://primerails.heroku.com" data-text="Rails Component Suite" data-hashtags="primerails">Tweet</a>
<h1 class="widget-title">PrimeRails</h1>
<p>PrimeRails is a collection of rich javascript widgets based on PrimeUI. PrimeRails is a spin-off 
  from the popular JavaServer Faces Component Suite, <a href="http://www.primefaces.org">PrimeFaces</a>.</p>

<div style="text-align:center">
  <img src="resources/demo/images/logo.png" alt="Logo" />
  <img src="/images/rails.png" alt="Logo" />
</div>

<div style="margin-top:20px">
  <img src="resources/demo/images/html5.png" alt="Html5" style="float:left" />
  <h3>Powered by HTML5</h3>
  <p>Built with HTML5, jQuery and CSS3, PrimeUI makes it trivial to create rich user interfaces in no time.</p>
  <div style="clear:both"></div>
</div>

<div style="margin-top:30px">
  <img src="resources/demo/images/themeroller.png" alt="ThemeRoller" style="float:right" />
  <h3>ThemeRoller Ready</h3>
  <p>PrimeRails Widgets are compatible with ThemeRoller. You can choose any predefined themes from ThemeRoller or special
    themes exclusive to PrimeRails.</p>
  <div style="clear:both"></div>
</div>

<div style="margin-top:30px">
  <img src="resources/demo/images/jqueryui.png" alt="jQuery" style="float:left;margin-right: 10px;" />
  <h3>jQuery and jQuery UI</h3>
  <p>PrimeUI is built with jQuery and jQuery UI APIs by following the same patterns and design principles.</p>
  <div style="clear:both"></div>
</div>

<div style="margin-top:40px">
  <img src="http://www.primefaces.org/images/logo.png" alt="PrimeFaces" style="float:right;margin-top:30px;margin-left:5px" />
  <h3>PrimeFaces</h3>
  <p>PrimeRails is a part of PrimeFaces, extremely popular de-facto standard of UI Frameworks for Java Web Applications.</p>
  <div style="clear:both"></div>
</div>
