<h1 class="widget-title">Inputtext</h1>
<p>InputText is an extension to standard inputText with skinning capabilities.</p>

<%= p_text_field_tag('default') %>

<h3>Documentation</h3>
<%= p_tab('tab1',title: 'inputtext.html.erb',for: 'doc') do%>
<pre name="code" class="xml">
&lt;%= p_text_field_tag('default') %&gt;
</pre>
<%  end %>



<%= p_tabview('doc') %>
