<h1 class="widget-title">Password</h1>
<p>Password displays strength indicator for password fields.</p>

<h3>Popup</h3>
<%= p_password_field_tag('p1') %>

<h3>Inline</h3>
<%= p_password_field_tag('p2',nil,inline: true) %>

<h3>Documentation</h3>
<%= p_tab('tab1',title: 'password.html.erb',for: 'doc') do%>
<pre name="code" class="xml">
&lt;h3&gt;Popup&lt;/h3&gt;
&lt;%= p_password_field_tag('p1') %&gt;

&lt;h3&gt;Inline&lt;/h3&gt;
&lt;%= p_password_field_tag('p2',nil,inline: true) %&gt;
</pre>
<%  end %>



<%= p_tabview('doc') %>
