<div id="content-nondemo">
  <h1 class="widget-title">Setup</h1>
  <p>Getting Started with PrimeRails is a straightforward process.</p>

  <h3>Install PrimeRails</h3>
  <p>Include these lines in the Gemfile to install the gems from <a href="http://rubygems.org" >RubyGems.org</a> </>
  <pre name="code" class="ruby">
gem 'jquery-rails', '2.1.4'
gem 'prime-rails'
  </pre>    

  <p>Then run <code>bundle install:</code><p/>
  <pre name="code" class="ruby">
     bundle install
  </pre>

  
  <p>Then run the PrimeRails generator to add includes into your assets:<p/>
  <pre name="code" class="ruby">
     rails g primerails:install
  </pre>
  
  <p>Add theme.css manually into your layout:<p/>
  <pre name="code" class="xml">
&lt;%= stylesheet_link_tag &quot;themes/aristo/theme.css&quot; %&gt;
  </pre>  

</div>